<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{common/backstage_fragment :: head(后台管理)}">
        <meta charset="UTF-8">
        <!--移动端的：缩放-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <link rel="stylesheet" href="../../static/css/me.css">
        <title>后台管理</title>
    </head>

    <body>
        <!--导航栏-->
        <nav th:replace="~{common/backstage_fragment :: nav(1)}" class="ui inverted attached  segment m-padded-tb-mini">
            <div class="ui container">
                <div class="ui inverted secondary menu stackable">
                    <h2 class="ui teal header item">后台管理</h2>
                    <a href="#" class="mini m-item item m-mobile-hide"><i class="home icon"></i>博客</a>
                    <a href="#" class="mini m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
                    <a href="#" class="mini m-item item m-mobile-hide"><i class="tag icon"></i>标签</a>

                    <!--登录后：头像-->
                    <div class="m-mobile-hide right menu">
                        <div class="ui dropdown item">
                            <div class="text">
                                <img class="ui avatar image" src="../../static/images/avatar.jpg">
                                何锦洋
                            </div>

                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <a href="" class="item">注销</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a href="#" class="ui menu toggle black icon button m-top-right m-mobile-show">
                <i class="sidebar icon"></i>
            </a>
        </nav>

        <!--二级导航-->
        <div class="ui attached pointing menu">
            <div class="ui container">
                <div class="right menu">
                    <a href="" class="item">发布</a>
                    <a href="" class="active teal item">列表</a>
                </div>
            </div>
        </div>

        <!--中间内容-->
        <div class="m-container-small m-padded-tb-massive">
            <!--提示信息-->
            <div class="ui success  message" th:unless="${#strings.isEmpty(session.info)}">
                <i class="close icon"></i>
                <div class="header">提示：</div>
                <p th:text="${session.info}"></p>
            </div>

            <div  class="ui container">
                <div class="ui secondary segment form">
                    <input type="hidden" name="page">
                    <div class="inline fields">
                        <!--文章：标题-->
                        <div class="field">
                            <input id="title" type="text" name="title" placeholder="标题">
                        </div>

                        <!--文章：类型-->
                        <div class="field">
                            <div class="ui labeled action input">
                                <div class="ui selection type dropdown ">
                                    <input type="hidden" name="typeId">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">类型</div>
                                    <div class="menu">
                                        <div th:each="type : ${types}" class="item" th:data-value="${type.id}" th:text="${type.name}"></div>

                                        <!--/*-->
                                        <div class="item" data-value="1">数据结构</div>
                                        <div class="item" data-value="2">操作系统</div>
                                        <!--*/-->
                                    </div>
                                </div>

                                <!--清除按钮-->
                                <div id="clear-btn" class="ui orange compact button">
                                    清除
                                </div>
                            </div>



                        </div>

                        <!--文章：推荐按钮-->
                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" id="recommend" name="recommend">
                                <label for="recommend">推荐</label>
                            </div>
                        </div>

                        <!--搜索按钮-->
                        <div class="field">
                            <button type="button" id="search-btn" class="ui mini teal basic button"><i class="search icon"></i>搜素</button>
                        </div>

                    </div>
                </div>

                <div id="table-container">
                    <table th:fragment="blogList" class="ui teal compact table">

                        <!--表头-->
                        <thead>
                        <tr>
                            <th></th>
                            <th>标题</th>
                            <th>类型</th>
                            <th>推荐</th>
                            <th>发布状态</th>
                            <th>更新时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>

                        <!--表：内容-->
                        <tbody>
                        <tr th:each="blog, iterStat : ${page.content}">
                            <td th:text="${iterStat.count}"></td>
                            <td th:text="${blog.title}"></td>
                            <td th:text="${blog.type.name}"></td>
                            <td th:text="${blog.recommend} ? '是' : '否'"></td>
                            <td th:text="${blog.published} ? '已发布' : '草稿'"></td>
                            <td th:text="${#dates.format(blog.updateTime, 'yyyy-MM-dd')}"></td>
                            <td>
                                <a th:href="@{/admin/blogs/{id}/input(id=${blog.id})}" class="ui teal basic button">编辑</a>
                                <a th:href="@{/admin/blogs/{id}/delete(id=${blog.id})}" class="ui red basic button">删除</a>
                            </td>
                        </tr>
                        </tbody>

                        <!--表尾：上一页，下一页-->
                        <!--表尾：上一页，下一页-->
                        <tfoot>
                        <tr>
                            <th colspan="7">
                                <div class="ui mini pagination menu" th:if="${page.totalPages > 1}">
                                    <a onclick="page(this)" th:attr="data-page=${page.number}-1" th:unless="${page.first}" class="item">上一页</a>
                                    <a onclick="page(this)" th:attr="data-page=${page.number}+1" th:unless="${page.last}" class="item">下一页</a>
                                </div>

                                <a th:href="@{/admin/blogs/input}"  class="item ui right floated teal basic mini  button">新增</a>

                            </th>
                        </tr>
                        </tfoot>

                    </table>
                </div>
            </div>
        </div>

        <!--底部footer-->
        <footer th:replace="~{common/front_fragment::footer}" class="ui vertical inverted segment m-padded-tb-massive">
            <div class="ui center aligned container">
                <div class="ui inverted divided stackable grid">
                    <div class="three wide column">
                        <div class="ui inverted link list">
                            <div class="item">
                                <img src="../../static/images/wechat.png" class="ui rounded image" alt="" style="width:110px">
                            </div>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header m-text-spaced m-opacity-mini">最新博客</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">老洋自传</a>
                            <a href="#" class="item">论生活</a>
                            <a href="#" class="item">谈青春</a>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header m-text-spaced m-opacity-mini">联系方式</h4>
                        <div class="ui inverted link list ">
                            <a href="#" class="item">laoyangzhijia@aliyun.com</a>
                            <a href="#" class="item">QQ: 2560055298</a>
                        </div>
                    </div>

                    <div class="seven wide column">
                        <h4 class="ui inverted header m-text-spaced m-opacity-mini">关于我</h4>
                        <p class="m-text-thin m-text-spaced m-opacity-mini">
                            这是老洋成长的地方, 分享着老洋成长历程的点点滴滴。
                            这儿带给了老洋许多人生的欢乐。
                        </p>
                    </div>
                </div>
                <!--分割线-->
                <div class="ui inverted section divider" ></div>
                <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright ©1997 - 2021 老洋之家</p>
            </div>
        </footer>

        <div th:replace="common/backstage_fragment::myJs">
            <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        </div>
    </body>

    <script>
        $('.menu.toggle').click(function(){
            $('.m-item').toggleClass('m-mobile-hide');
        });

        $('#payButton').popup({
            popup: $('.payQ.popup'),
            on: 'click',
            position: 'top center'
         });

        $('.ui.dropdown').dropdown({
            on: 'hover'
        });

        //点击的：上一页、下一页， 传参到后台，使用input的隐藏域形式，所以采取赋值
        function page(obj){
            $("[name='page']").val($(obj).data('page'));
            loaddata();
        }

        //点击：搜索按钮，进行内容（局部）刷新
        $("#search-btn").click(function () {
            $("[name='page']").val(0);      //索引变为0
            loaddata();
        });

        //局部刷新
        function loaddata(){
            $("#table-container").load(/*[[@{/admin/blogs/search}]]*/ "/admin/blogs/search", {
                title : $("[name='title']").val(),
                typeId : $("[name='typeId']").val(),
                recommend : $("[name='recommend']").prop('checked'),
                page : $("[name='page']").val()
            });
        }

        //消息提示：点击关闭
        $('.message .close')
            .on('click', function(){
                $(this)
                    .closest('.message')
                    .transition('fade');
            });

        //清除：标题、类型
        $('#clear-btn')
            .on('click', function() {
                $('.ui.type.dropdown')
                    .dropdown('clear');

                $('#title').val("");
            })
        ;
    </script>
</html>