<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{/common/backstage_fragment :: head(后台登录页面)}">
        <meta charset="UTF-8">
        <!--移动端的：缩放-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <link rel="stylesheet" href="../../static/css/me.css">
        <title>后台登录页面</title>
    </head>

    <body class="bg-end">
        <br/><br/><br/><br/><br/><br/>
        <div class="m-container-small m-padded-tb-massive" style="max-width: 30em !important;">
            <div class="ui container">
                <div class="ui middle aligned center aligned grid">
                    <div class="column">
                        <h2 class="ui teal header">
                            <div class="content title-header-end">
                                登录页面
                            </div>
                        </h2>
                        <form method="post" action="/admin/login" class="ui large form">
                            <div class="ui segment">
                                <div class="field">
                                    <div class="ui left icon input">
                                        <i class="user icon"></i>
                                        <input type="text" name="username" placeholder="用户名">
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui left icon input">
                                        <i class="lock icon"></i>
                                        <input type="password" name="password" placeholder="密码">
                                    </div>
                                </div>
                                <button  class="ui fluid large teal  button submit login-btn-end m-padded-big login-text-btn">登  录</button>
                            </div>

                            <div class="ui error mini message"></div>
                            <div class="ui negative mini message" th:unless="${#strings.isEmpty(session.message)}" th:text="${session.message}"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>



        <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    </body>

    <script>
        $('.ui.form').form({
            fields : {
                username : {
                    identifier: 'username',
                    rules : [{
                        type : 'empty',
                        prompt : '用户名错误'
                    }]
                },
                password : {
                    identifier: 'password',
                    rules : [{
                        type : 'empty',
                        prompt : '密码错误'
                    }]
                }
            }
        });
    </script>
</html>