*{
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
}

.footer {
    margin-top: -50px;
    height: 50px;
    background-color: #eee;
    z-index: 0;
}

.wrap {
    min-height: 100%;
}

.main {
    padding-bottom: 50px;
}