<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/common/front_fragment::head(归档页面)">
        <meta charset="UTF-8">
        <!--移动端的：缩放-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
        <title>归档页面</title>
    </head>

    <body class="bg-front">
        <!--导航栏-->
        <div>
            <nav th:replace="~{common/front_fragment::nav(4)}"></nav>
        </div>

        <!--中间内容-->
        <div class="m-container-small m-padded-tb-big m-opacity">
            <!--归档内容-->
            <div class="ui container">  <!--拥有：响应式的效果-->
                <!--归档的博客数目-->
                <div class="ui top attached segment title-front-radius title-front-arch">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <span class="span-front-font">归档</span>
                        </div>

                        <div class="right aligned column">
                            <span class="span-front-font">共</span> <span class="span-front-num" th:text="${blogCount}"> 142 </span> <span class="span-front-font">篇</span>
                        </div>
                    </div>
                </div>

                <!--归档时间（及）文章-->
                <th:block th:each="item : ${maps}">
                    <h2 class="ui center aligned header" th:each="year : ${item.key}" th:text="${year}">2021</h2>
                    <div class="ui fluid vertical menu" th:each="blogs : ${item.value}" id="MyArchStripe">
                        <a href="" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="item" th:each="blog : ${blogs}">
                        <span>
                             <i class="mini paper plane outline icon icon-color"></i>&nbsp;&nbsp;[[${blog.title}]]
                             <div class="ui teal basic left pointing label m-padded-tiny font-spacing" th:text="${#dates.format(blog.createTime, 'MM月dd日')}"></div>
                        </span>

                            <div class="ui blue  basic label m-padded-big font-spacing" th:text="${blog.flag}">原创</div>
                        </a>
                    </div>
                </th:block>

            </div>
        </div>

        <!--底部footer-->
        <div>
            <footer th:replace="~{/common/front_fragment::footer}"></footer>
        </div>

        <!--js引用-->
        <div th:replace="/common/front_fragment::myJs">
            <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        </div>
    </body>

    <script>
        $('.menu.toggle').click(function(){
            $('.m-item').toggleClass('m-mobile-hide');
        });
    </script>
</html>