<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/common/front_fragment::head(归档页面)">
        <meta charset="UTF-8">
        <!--移动端的：缩放-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
        <title>归档页面</title>
    </head>

    <body>
        <!--导航栏-->
        <div>
            <nav th:replace="~{common/front_fragment::nav(4)}"></nav>
        </div>

        <!--中间内容-->
        <div class="m-container-small m-padded-tb-big">
            <!--归档内容-->
            <div class="ui container">  <!--拥有：响应式的效果-->
                <!--归档的博客数目-->
                <div class="ui top attached segment ">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui teal header">归档</h3>
                        </div>

                        <div class="right aligned column">
                            共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${#arrays.length(blogs)}"> 142 </h2> 篇归档博客
                        </div>
                    </div>
                </div>

                <!--归档时间（及）文章-->
                <h2 class="ui center aligned header">2021</h2>
                <div class="ui fluid vertical menu">
                    <a href="" th:href="@{/blog/{id}(id=${blog.id})}" class="item" th:each="blog : ${blogs}" th:if="${#dates.format(blog.createTime, 'yyyy') == '2021'}">
                        <span>
                             <i class="mini teal circle icon"></i>&nbsp;&nbsp;[[${blog.title}]]
                             <div class="ui teal basic left pointing label m-padded-tiny" th:text="${#dates.format(blog.createTime, 'MM月dd日')}"></div>
                        </span>

                        <div class="ui orange basic label m-padded-big" th:text="${blog.flag}">原创</div>
                    </a>
                </div>

                <h2 class="ui center aligned header">2020</h2>
                <div class="ui fluid vertical menu">
                    <a href="" th:href="@{/blog/{id}(id=${blog.id})}" class="item" th:each="blog : ${blogs}" th:if="${#dates.format(blog.createTime, 'yyyy') == '2020'}">
                        <span>
                             <i class="mini teal circle icon"></i>&nbsp;&nbsp;[[${blog.title}]]
                             <div class="ui teal basic left pointing label m-padded-tiny" th:text="${#dates.format(blog.createTime, 'MM月dd日')}"></div>
                        </span>

                        <div class="ui orange basic label m-padded-big" th:text="${blog.flag}">原创</div>
                    </a>
                </div>
            </div>
        </div>

        <!--底部footer-->
        <div>
            <footer th:replace="~{/common/front_fragment::footer}"></footer>
        </div>

        <!--js引用-->
        <div th:replace="/common/front_fragment::myJs">
            <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        </div>
    </body>

    <script>
        $('.menu.toggle').click(function(){
            $('.m-item').toggleClass('m-mobile-hide');
        });
    </script>
</html>