<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/common/front_fragment::head(标签页面)">
        <meta charset="UTF-8">
        <!--移动端的：缩放-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
        <title>搜索结果</title>
    </head>

    <body>
        <!--导航栏-->
        <div>
            <nav th:replace="~{common/front_fragment::nav(3)}"></nav>
        </div>

        <!--中间内容-->
        <div class="m-container-small m-padded-tb-big">
            <!--文章-->
            <div class="ui container">  <!--拥有：响应式的效果-->
                <!--头介绍-->
                <div class="ui top attached segment ">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui teal header">搜索结果</h3>
                        </div>

                        <div class="right aligned column">
                            共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${page.totalElements}"> 14 </h2> 篇
                        </div>
                    </div>
                </div>

                <!--当前分类：所有文章-->
                <div class="ui top attached teal m-mobile-clear segment">
                    <div th:each="blog : ${page.content}" class="ui padded padded-lr-big vertical m-padded-tb-large  m-mobile-clear segment">
                        <div class="ui middle aligned mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <h3 class="ui header"><a class="m-black" th:href="@{/}" th:text="${blog.title}"></a></h3>
                                <p class="m-text" th:text="|${blog.description}...|">
                                    随着岁月的境迁, 同学们的差距会越来越来大？这是什么原因呢？ 很大程度上，读书阶段就已经造就了这种局面。
                                    我想这便是自我约束力的丧失。导致生活任意妄为， 浑浑噩噩，每天混迹于
                                </p>
                                <div class="ui  stackable grid">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img th:src="@{${blog.user.avatar}}" src="https://picsum.photos/id/239/20/20" alt="" class="ui avatar image">
                                                <div class="content"><a href="#" class="header" th:text="${blog.user.nickname}">何锦洋</a></div>
                                            </div>

                                            <div class="item">
                                                <i class="calendar alternate outline icon"></i> <span th:text="${#dates.format(blog.createTime, 'yyyy-MM-dd HH:mm')}">2021-07-01</span>
                                            </div>

                                            <div class="item">
                                                <i class="eye icon"></i> <span th:text="${blog.views}">1002</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="five wide column right aligned" >
                                        <a href="#" target="_blank" class="ui teal label basic m-text-thin m-padded-tiny" th:text="${blog.type.name}">思辨人生</a>
                                    </div>
                                </div>
                            </div>

                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img th:src="@{${blog.firstPicture}}" src="https://picsum.photos/id/1/500/300" alt="" class="ui rounded image">
                                </a>
                            </div>

                        </div>
                    </div>

                </div>

                <!--换页-->
                <!--footer-->
                <div class="ui bottom attached segment" th:unless="!${page.totalPages > 1}">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <a th:href="@{/(page=(${page.number} - 1))}" class="ui mini teal basic button ">上一页</a>
                        </div>

                        <div class="right aligned column">
                            <a th:href="@{/(page=(${page.number} + 1))}" class="ui mini teal basic button ">下一页</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--底部footer-->
        <div>
            <footer th:replace="~{/common/front_fragment::footer}"></footer>
        </div>

        <!--js引用-->
        <div th:replace="/common/front_fragment::myJs">
            <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        </div>
    </body>

    <script>
        $('.menu.toggle').click(function(){
            $('.m-item').toggleClass('m-mobile-hide');
        });
    </script>
</html>