<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/common/front_fragment::head(分类页面)">
        <meta charset="UTF-8">
        <!--移动端的：缩放-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
        <title>分类页面</title>
    </head>

    <body>
        <!--导航栏-->
        <div>
            <nav th:replace="~{common/front_fragment::nav(2)}"></nav>
        </div>

        <!--中间内容-->
        <div class="m-container-small m-padded-tb-big">
            <!--文章-->
            <div class="ui container">  <!--拥有：响应式的效果-->
                <!--头介绍-->
                <div class="ui top attached segment ">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui teal header">分类</h3>
                        </div>

                        <div class="right aligned column">
                            共 <h2 class="ui orange header m-inline-block m-text-thin"> 14 </h2> 类
                        </div>
                    </div>
                </div>
                 <!--分类-->
                <div class="ui attached segment ">
                    <div class="ui  labeled  button m-margin-tb-tiny ">
                        <div class="ui teal basic button">
                            人生路
                        </div>

                        <a href="#" class="ui  teal basic left pointing label">
                            22
                        </a>
                    </div>
                    <div class="ui  labeled  button m-margin-tb-tiny ">
                        <div class="ui teal basic button">
                            人生路
                        </div>

                        <a href="#" class="ui  teal basic left pointing label">
                            22
                        </a>
                    </div>
                    <div class="ui  labeled  button m-margin-tb-tiny ">
                        <div class="ui teal basic button">
                            人生路
                        </div>

                        <a href="#" class="ui  teal basic left pointing label">
                            22
                        </a>
                    </div>
                    <div class="ui  labeled  button m-margin-tb-tiny ">
                        <div class="ui teal basic button">
                            人生路
                        </div>

                        <a href="#" class="ui  teal basic left pointing label">
                            22
                        </a>
                    </div>
                    <div class="ui  labeled  button m-margin-tb-tiny ">
                        <div class="ui teal basic button">
                            人生路
                        </div>

                        <a href="#" class="ui  teal basic left pointing label">
                            22
                        </a>
                    </div>
                    <div class="ui  labeled  button m-margin-tb-tiny ">
                        <div class="ui teal basic button">
                            人生路
                        </div>

                        <a href="#" class="ui  teal basic left pointing label">
                            22
                        </a>
                    </div>
                    <div class="ui  labeled  button m-margin-tb-tiny ">
                        <div class="ui teal basic button">
                            人生路
                        </div>

                        <a href="#" class="ui  teal basic left pointing label">
                            22
                        </a>
                    </div>
                    <div class="ui  labeled  button m-margin-tb-tiny ">
                        <div class="ui teal basic button">
                            人生路
                        </div>

                        <a href="#" class="ui  teal basic left pointing label">
                            22
                        </a>
                    </div>
                    <div class="ui  labeled  button m-margin-tb-tiny ">
                        <div class="ui teal basic button">
                            人生路
                        </div>

                        <a href="#" class="ui  teal basic left pointing label">
                            22
                        </a>
                    </div>
                    <div class="ui  labeled  button m-margin-tb-tiny ">
                        <div class="ui teal basic button">
                            人生路
                        </div>

                        <a href="#" class="ui  teal basic left pointing label">
                            22
                        </a>
                    </div>
                    <div class="ui  labeled  button m-margin-tb-tiny ">
                        <div class="ui teal basic button">
                            人生路
                        </div>

                        <a href="#" class="ui  teal basic left pointing label">
                            22
                        </a>
                    </div>
                    <div class="ui  labeled  button m-margin-tb-tiny ">
                        <div class="ui teal basic button">
                            人生路
                        </div>

                        <a href="#" class="ui  teal basic left pointing label">
                            22
                        </a>
                    </div>
                    <div class="ui  labeled  button m-margin-tb-tiny ">
                        <div class="ui teal basic button">
                            人生路
                        </div>

                        <a href="#" class="ui  teal basic left pointing label">
                            22
                        </a>
                    </div>
                    <div class="ui  labeled  button m-margin-tb-tiny ">
                        <div class="ui teal basic button">
                            人生路
                        </div>

                        <a href="#" class="ui  teal basic left pointing label">
                            22
                        </a>
                    </div>
                </div>

                <!--当前分类：所有文章-->
                <div class="ui top attached teal m-mobile-clear segment">
                    <div class="ui padded padded-lr-big vertical m-padded-tb-large  m-mobile-clear segment">
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <h3 class="ui header">为什么同学之间，差距会如此之大？</h3>
                                <p class="m-text">
                                    随着岁月的境迁, 同学们的差距会越来越来大？这是什么原因呢？ 很大程度上，读书阶段就已经造就了这种局面。
                                    我想这便是自我约束力的丧失。导致生活任意妄为， 浑浑噩噩，每天混迹于
                                </p>
                                <div class="ui  stackable grid">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://picsum.photos/id/239/20/20" alt="" class="ui avatar image">
                                                <div class="content"><a href="#" class="header">何锦洋</a></div>
                                            </div>

                                            <div class="item">
                                                <i class="calendar alternate outline icon"></i> 2021-07-01
                                            </div>

                                            <div class="item">
                                                <i class="eye icon"></i> 666
                                            </div>
                                        </div>
                                    </div>

                                    <div class="five wide column right aligned">
                                        <a href="#" target="_blank" class="ui teal label basic m-text-thin m-padded-tiny">思辨人生</a>
                                    </div>
                                </div>
                            </div>

                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="https://picsum.photos/id/239/500/300" alt="" class="ui rounded image">
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="ui padded padded-lr-big vertical m-padded-tb-large  m-mobile-clear segment">
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <h3 class="ui header">为什么同学之间，差距会如此之大？</h3>
                                <p class="m-text">
                                    随着岁月的境迁, 同学们的差距会越来越来大？这是什么原因呢？ 很大程度上，读书阶段就已经造就了这种局面。
                                    我想这便是自我约束力的丧失。导致生活任意妄为， 浑浑噩噩，每天混迹于
                                </p>
                                <div class="ui  stackable grid">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://picsum.photos/id/239/20/20" alt="" class="ui avatar image">
                                                <div class="content"><a href="#" class="header">何锦洋</a></div>
                                            </div>

                                            <div class="item">
                                                <i class="calendar alternate outline icon"></i> 2021-07-01
                                            </div>

                                            <div class="item">
                                                <i class="eye icon"></i> 666
                                            </div>
                                        </div>
                                    </div>

                                    <div class="five wide column right aligned">
                                        <a href="#" target="_blank" class="ui teal label basic m-text-thin m-padded-tiny">思辨人生</a>
                                    </div>
                                </div>
                            </div>

                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="https://picsum.photos/id/239/500/300" alt="" class="ui rounded image">
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="ui padded padded-lr-big vertical m-padded-tb-large  m-mobile-clear segment">
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <h3 class="ui header">为什么同学之间，差距会如此之大？</h3>
                                <p class="m-text">
                                    随着岁月的境迁, 同学们的差距会越来越来大？这是什么原因呢？ 很大程度上，读书阶段就已经造就了这种局面。
                                    我想这便是自我约束力的丧失。导致生活任意妄为， 浑浑噩噩，每天混迹于
                                </p>
                                <div class="ui  stackable grid">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://picsum.photos/id/239/20/20" alt="" class="ui avatar image">
                                                <div class="content"><a href="#" class="header">何锦洋</a></div>
                                            </div>

                                            <div class="item">
                                                <i class="calendar alternate outline icon"></i> 2021-07-01
                                            </div>

                                            <div class="item">
                                                <i class="eye icon"></i> 666
                                            </div>
                                        </div>
                                    </div>

                                    <div class="five wide column right aligned">
                                        <a href="#" target="_blank" class="ui teal label basic m-text-thin m-padded-tiny">思辨人生</a>
                                    </div>
                                </div>
                            </div>

                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="https://picsum.photos/id/239/500/300" alt="" class="ui rounded image">
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="ui padded padded-lr-big vertical m-padded-tb-large  m-mobile-clear segment">
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <h3 class="ui header">为什么同学之间，差距会如此之大？</h3>
                                <p class="m-text">
                                    随着岁月的境迁, 同学们的差距会越来越来大？这是什么原因呢？ 很大程度上，读书阶段就已经造就了这种局面。
                                    我想这便是自我约束力的丧失。导致生活任意妄为， 浑浑噩噩，每天混迹于
                                </p>
                                <div class="ui  stackable grid">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://picsum.photos/id/239/20/20" alt="" class="ui avatar image">
                                                <div class="content"><a href="#" class="header">何锦洋</a></div>
                                            </div>

                                            <div class="item">
                                                <i class="calendar alternate outline icon"></i> 2021-07-01
                                            </div>

                                            <div class="item">
                                                <i class="eye icon"></i> 666
                                            </div>
                                        </div>
                                    </div>

                                    <div class="five wide column right aligned">
                                        <a href="#" target="_blank" class="ui teal label basic m-text-thin m-padded-tiny">思辨人生</a>
                                    </div>
                                </div>
                            </div>

                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="https://picsum.photos/id/239/500/300" alt="" class="ui rounded image">
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="ui padded padded-lr-big vertical m-padded-tb-large  m-mobile-clear segment">
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <h3 class="ui header">为什么同学之间，差距会如此之大？</h3>
                                <p class="m-text">
                                    随着岁月的境迁, 同学们的差距会越来越来大？这是什么原因呢？ 很大程度上，读书阶段就已经造就了这种局面。
                                    我想这便是自我约束力的丧失。导致生活任意妄为， 浑浑噩噩，每天混迹于
                                </p>
                                <div class="ui  stackable grid">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://picsum.photos/id/239/20/20" alt="" class="ui avatar image">
                                                <div class="content"><a href="#" class="header">何锦洋</a></div>
                                            </div>

                                            <div class="item">
                                                <i class="calendar alternate outline icon"></i> 2021-07-01
                                            </div>

                                            <div class="item">
                                                <i class="eye icon"></i> 666
                                            </div>
                                        </div>
                                    </div>

                                    <div class="five wide column right aligned">
                                        <a href="#" target="_blank" class="ui teal label basic m-text-thin m-padded-tiny">思辨人生</a>
                                    </div>
                                </div>
                            </div>

                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="https://picsum.photos/id/239/500/300" alt="" class="ui rounded image">
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

                <!--换页-->
                <div class="ui bottom attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <a href="#" class="ui mini teal basic button ">上一页</a>
                        </div>

                        <div class="right aligned column">
                            <a href="#" class="ui mini teal basic button ">下一页</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--底部footer-->
        <div>
            <footer th:replace="~{/common/front_fragment::footer}"></footer>
        </div>

        <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    </body>

    <script>
        $('.menu.toggle').click(function(){
            $('.m-item').toggleClass('m-mobile-hide');
        });
    </script>
</html>